# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project data (не храним пользовательские файлы в репозитории)
data/*
!data/.gitkeep

screenshots/*
!screenshots/.gitkeep

# OS
.DS_Store
Thumbs.db